/* Estilos relacionados con el footer */
.footer-container {
    background: linear-gradient(135deg, #000, #333); /* Gradiente negro */
    color: white;
    padding: 18px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 18px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 150px;
    margin: 6px;
    text-align: left;
  }
  
  .footer-section h4 {
    margin-bottom: 9px;
    font-size: 11px;
    font-weight: bold;
    color: #ffa726; /* Naranja suave */
  }
  
  .footer-section p,
  .footer-section ul {
    margin: 6px 0;
    line-height: 1.4;
    font-size: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section ul li a {
    color: #ffa726; /* Naranja suave */
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.3s;
    font-size: 10px;
  }
  
  .footer-section ul li a:hover {
    color: #ffffff;
  }
  
  .footer-section a {
    color: inherit;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .social-media-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9px;
    justify-items: center;
    align-items: center;
    padding: 0;
    list-style: none;
  }
  
  .social-media-grid li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-icon {
    width: 7px;
    height: 7px;
    margin-bottom: 3px;
    transition: transform 0.3s;
  }
  
  .social-icon:hover {
    transform: scale(1.1);
  }
  
  .footer-bottom {
    border-top: 1px solid #ffa726; /* Naranja suave */
    padding-top: 9px;
    font-size: 8px;
    color: #ffa726;
    
  }

  